$text-color: rgba(255, 255, 255, 1);
$text-color-install: rgba(0, 0, 0, 1);
$text-color-aboutus-main: rgba(45, 48, 51, 1);
$text-color-aboutus-secondary: rgba(255, 67, 67, 1);
$text-color-grey: rgba(108, 114, 121, 1);
$text-color-copyright-grey: rgba(128, 128, 128, 1);
$font: "Raleway", sans-serif;
$btn_bg: rgba(255, 67, 67, 1);
$border-color: rgba(186, 187, 197, 1);
$border-color-products: rgba(255, 255, 255, 1);
$border-pagination-color: rgba(126, 93, 111, 1);
$border-footer-link: rgba(198, 203, 205, 1);
$bg-color-banner: rgba(37, 43, 73, 0.8);
$bg-primary-color: rgba(255, 255, 255, 1);
$bg-content-product: rgba(255, 67, 67, 0.8);
$bg-color-footer: rgba(53, 60, 101, 1);
$bg-color-footer-copyright: rgba(44, 49, 84, 1);
$bg-color-slider: rgba(92, 50, 73, 1);
$tablet: 1024px;
$mobile: 767px;

@mixin font($size, $line-height, $weight: 400) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

%button {
   display: block;
   max-width: 370px;
   margin: 0 auto;  
   padding: 23px 0 26px; 
   color: $text-color;
   background-color: $btn_bg;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 900;
   line-height: 28px;
}

%flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

a {
   text-decoration: none;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: $font;
}

   .container {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 20px;
   }

.header {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
   border-bottom: 1px solid $border-color;
   padding: 38px 0 35px;

   @media screen and (max-width: $mobile) {
   padding: 19px 0;
   border: none;
   }

   &__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   }

   &__toggle {
   display: none;
   @media screen and (max-width: $mobile) {
   display: block;
   }
   }

   &__logo-wrapper {
   display: inline-block;
   max-width: 183px;

   @media screen and (max-width: $mobile) {
   max-width: 109px;
   }

   svg {
   width: 100%;
   }
   }
   }

.nav {
   display: flex;
   column-gap: 38px;
   justify-content: space-between;

   @media screen and (max-width: $tablet) {
   column-gap: 25px;
   }
   @media screen and (max-width: $mobile) {
   display: none;
   }

   &__link {
   color: $text-color;
   text-transform: uppercase;
   transform: scale(1);
   transition: color 0.3s linear, transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
   
   &:hover {
      color: $btn_bg;
      transform: scale(1.05);
   }

   @include font(13px, 15px, 700);

   @media screen and (max-width: $tablet) {
      @include font(12px, 14px, 700);
   }

   @media screen and (max-width: $mobile) {
      @include font(7px, 10px, 400);
   }
   }
}

.banner {
   padding: 230px 0 120px;
   text-align: center;
   background-image: url(../media/banner.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   position: relative;

   @media screen and (max-width: $tablet) {
   padding: 257px 0 126px;
   }

   @media screen and (max-width: $mobile) {
   padding: 106px 0 52px;
   }

   &::before {
   content: ' ';
   display: block;
   width: 100%;
   height: 100%;
   background-color: $bg-color-banner;
   left: 0;
   top: 0;

   position: absolute;
   }

   &__wrapper {
   position: relative;
   }

   &__container {
   position: relative;
   }

   &__title {
   color: $text-color;
   text-transform: uppercase;
   margin-bottom: 31px;

   @include font(64px, 75px, 900);

   @media screen and (max-width: $tablet) {
   font-size: 48px;
   margin-bottom: 61px;
   line-height: 56px;
   }

   @media screen and (max-width: $mobile) {
   font-size: 36px;
   margin-bottom: 40px;
   line-height: 42px;
   width: 100%;
   }
   }

   &__text {
   color: $text-color;
   margin-bottom: 79px;

   @include font(24px, 100%);

   @media screen and (max-width: $tablet) {
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 89px;
   }

   @media screen and (max-width: $mobile) {
   font-size: 14px;
   margin-bottom: 59px;
   line-height: 16px;
   min-width: 280px;
   }
   }

   &__btn {
   transform: scale(1);
   transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.3s linear, color 0.3 linear;
   @extend %button;

   &:hover {
   transform: scale(1.05);
   background-color: $text-color-grey;
   color: $bg-color-banner;
   }

   @media screen and (max-width: $tablet) {
   max-width: 314px;
   }
   @media screen and (max-width: $mobile) {
   padding: 14px 0 16px;
   }


   }
   }

.recommendation{
   background-color: $bg-primary-color;
   margin-bottom: 31px;
   width: 100%;

&__slide {
   display: grid;
   grid-template-columns: repeat(2, 570px);
   column-gap: 31px;
   background-color: $bg-color-slider;
   align-items: center;
}

   &__image {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 570px/490px;
   }

   &__text {
      font-size: 36px;
      font-weight: 400;
      line-height: 49px !important;
      font-family: "Cardo", serif;
      font-style: italic;
      color: $text-color;
   }

   &__author {
      @include font(13px, 15px, 700);
      color: $text-color;
      padding: 6px 0
   }
}

.swiper-pagination {
      position: static;
      @extend %flex;
      column-gap: 25px;
      margin-top: 31px;  
}

.swiper-pagination-bullet {
   border: 1px solid $border-paginaton-color;
   background-color: transparent;    
   width: 14px;
   height: 14px;
}

.swiper-pagination-bullet-active {
   background-color: $border-pagination-color;    
}


.install {
      padding: 170px 0;
      background-color: $bg-primary-color;
      text-align: center;

      @media screen and (max-width: $tablet) {
      padding: 127px 0;
      }

      @media screen and (max-width: $mobile) {
      padding: 53px 0;
      }
      
      &__title {
      color: $text-color-install;
      margin-bottom: 22px;

      @include font(30px, 35px,500);

      @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
      @include font(24px, 28px, 500);
   
      }

      @media screen and (max-width: $mobile) {
      margin-bottom: 12px;
      @include font(18px, 21px, 500);
      }
      }

      &__text {
      color: $text-color-install;
      margin-bottom: 50px;
      text-transform: uppercase;

      @include font(18px, 21px,700 );


      @media screen and (max-width: $tablet) {
      margin-bottom: 45px;
      @include font(14px, 16px, 700);
      }

      @media screen and (max-width: $mobile) {
      margin-bottom: 12px;
      @include font(13px, 15px, 700);
      }
      }

      &__btn {
   transform: scale(1);
   transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), background-color 0.3s linear 1s, color 0.3 linear;
   @extend %button;

   &:hover {
   transform: scale(1.05);
   background-color: $text-color-grey;
   color: $bg-color-banner;
   }

      @media screen and (max-width: $tablet) {
      max-width: 565px;
      padding: 27px 0 29px; 
      font-size: 18px;
      line-height: 21px;
      }

      @media screen and (max-width: $mobile) {
      max-width: 280px;
      padding: 28px; 
      font-size: 18px;
      line-height: 21px;
      }
      }
   }

.features {
   padding: 100px 0 118px;
   background-color: $bg-primary-color;
   text-align: center;

   @media screen and (max-width: $tablet) {
   padding: 80px 0;
   }

   @media screen and (max-width: $mobile) {
   padding: 59px 0;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 31px;
      row-gap: 88px;

   @media screen and (max-width: $tablet) {
      column-gap: 20px;
      row-gap: 49px;   
   }
      @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr)
   }
   }

   &__wrapper-icon {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-bottom: 51px;

      @media screen and (max-width: $tablet) {
      width: 85px;
      height: 85px;
      margin-bottom: 43px; 
   }

      @media screen and (max-width: $mobile) {
      width: 75px;
      height: 75px;
      margin-bottom: 37px; 
   }  
   }

         > svg {  
      width: 100%;               
      height: 100%;
   }

   &__name {
      color: rgba(45, 48, 51, 1);
      text-transform: uppercase;
      margin-bottom: 42px;

      @include font(24px, 28px, 900);

      @media screen and (max-width: $mobile) {
      @include font(18px, 21px, 900);
      margin-bottom: 8px;
   }
   }

   &__description {
      color: $text-color-grey;

      @include font(18px, 21px, 400);
      
      @media screen and (max-width: $mobile) {
      @include font(14px, 16px, 400);
   }
}
}

.products {
   display: grid;
   grid-template-columns: repeat(4, 1fr);

   @media screen and (max-width: $mobile) {
   grid-template-columns: repeat(2, 1fr);
   }
}

.product {
   aspect-ratio: 1/1;
   overflow: hidden;
   border: 2px solid $border-color-products;

   position: relative;

   &__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

   &__content {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      background-color: $bg-content-product;
      padding: 10px;
      @extend %flex;
      flex-direction: column;

      opacity: 0;

      &:hover {
         opacity: 1;
      }
   }

   &__title {
      @include font(24px, 28px, 900);
      color: $text-color;
      margin-bottom: 36px;
      text-transform: uppercase;

      @media screen and (max-width: $tablet){
      @include font(18px, 21px, 900); 
      margin-bottom: 22px;
      }

      @media screen and (max-width: $tablet){
      margin-bottom: 7px;
      }      
   }

   &__text {
      @include font(18px, 21px);
      color: $text-color;

      @media screen and (max-width: $tablet){
      @include font(14px, 16px); 
      }      
   }
}

.aboutus {
   padding: 100px 0;
   background-color: $bg-primary-color;

   @media screen and (max-width: $tablet) {
      padding: 80px 0;
   }
   @media screen and (max-width: $mobile) {
      padding: 49px 0 56px;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;

   @media screen and (max-width: $tablet) {
      column-gap: 24px;
   } 
   @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 56px;
   }
   }

   &__image-wrapper {
      display: inline-block;
      width: 270px;
      height: 270px;
      margin-bottom: 31px;

   @media screen and (max-width: $tablet) {
      width: 227px;
      height: 227px; 
      margin-bottom: 25px;
      }
   @media screen and (max-width: $mobile) {
      width: 280px;
      height: 227px;
   }
   }

   &__img {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

   @media screen and (max-width: $mobile) {
      aspect-ratio: 280/227;
   }
   }

   &__name {
      @include font(24px, 28px, 700);
      color: $text-color-aboutus-main;
      margin-bottom: 6px;

      @media screen and (max-width: $tablet) {
      @include font(18px, 21px, 700);
      margin-bottom: 4px;
      }
   }

   &__position {
      @include font(18px, 21px, 400);
      color: $text-color-aboutus-secondary;
      text-transform: uppercase;
      margin-bottom: 17px;

      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 400);
      margin-bottom: 22px;
      }
      @media screen and (max-width: $mobile) {
      margin-bottom: 38px;
      }
   }

   &__description {
      @include font(18px, 21px, 400);
      color: $text-color-grey;
      margin-bottom: 37px;

      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 400);
      margin-bottom: 39px;
      }
      @media screen and (max-width: $mobile) {
      margin-bottom: 55px;
      }
   }
   

   &__links {
      display: flex;
      column-gap: 6px;

      @media screen and (max-width: $tablet) {
      column-gap: 5px;
      }
      @media screen and (max-width: $mobile) {
      column-gap: 6px;
      }
   }

   &__link {
      width: 39px;
      height: 39px;
      padding: 10px 0;
      border: 1px solid rgba(198, 203, 205, 1);
      @extend %flex;
      transform: scale(1);
      transition: transform 0.3s  cubic-bezier(0.34, 1.56, 0.64, 1), border 0.3s linear, fill 0.3s linear;

      &:hover{
         border-color: $bg-content-product;
         transform: scale(1.05);
      }
      path {
      transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
      }

      &:hover {
      path {
      fill: $bg-content-product;
      }
      }

      @media screen and (max-width: $tablet){
      width: 32px;
      height: 32px;   
      padding: 8px 0 9px;      
      }
      @media screen and (max-width: $mobile) {
      width: 39px;
      height: 39px;
      padding: 10px 0 11px;      
      }
   }
}

.footer {
   &__content {
      padding: 71px 0;
      background-color: $bg-color-footer;

      @media screen and (max-width: $tablet) {
         padding: 46px 0 41px;
      }
      @media screen and (max-width: $mobile) {
         padding: 34px 0 33px;
      }
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      text-align: center;

      @media screen and (max-width: $tablet) {
      column-gap: 20px;
      }
      @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 69px;
      }
   }

   &__subtitle {
      @include font(18px, 21px, 700);
      text-transform: uppercase;
      color: $text-color;
      margin-bottom: 29px;

      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 700);
      margin-bottom: 17px;
   }
      @media screen and (max-width: $mobile) {
      margin-bottom: 34px;
   }
   }

   &__text {
   @include font(18px, 21px, 400);
   color: $text-color;

   @media screen and (max-width: $tablet) {
   @include font(14px, 16px, 400);
   }  
   }

   &__subtitle-links {
      @include font(18px, 21px, 700);
      text-transform: uppercase;
      color: $text-color;
      margin-bottom: 48px;

      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 700);
      margin-bottom: 32px;
   }
      @media screen and (max-width: $mobile) {
      margin-bottom: 36px;
   }
   }   

   &__links-wrapper {
      @extend %flex;
      column-gap: 27px;

      @media screen and (max-width: $tablet) {
      column-gap: 23px;
   }
      @media screen and (max-width: $mobile) {
      column-gap: 16px;
   }
   }

   &__link {
      width: 39px;
      height: 39px;
      padding: 10px 0 11px;
      border: 1px solid $border-footer-link;
      @extend %flex;
      transform: scale(1);
      transition: transform 0.3s  cubic-bezier(0.34, 1.56, 0.64, 1), border 0.3s linear, fill 0.3s linear;

      @media screen and (max-width: $tablet) {
      width: 33px;
      height: 33px;
      padding: 8px 0 9px;
   }

      &:hover{
         border-color: $bg-content-product;
         transform: scale(1.05);
      }
      path {
      transition: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
      }

      &:hover {
      path {
      fill: $bg-content-product;
      }
      }
   }

   &__copyright {
      padding: 23px 0 24px;
      background-color: $bg-color-footer-copyright;

      @media screen and (max-width: $tablet) {
      padding: 14px 0;
   }
      @media screen and (max-width: $mobile) {
      padding: 29px 0 28px;
   }
   }

   &__copyright-text {
      @include font(18px, 21px, 400);
      color: $text-color-copyright-grey;

      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 400);
   }
   }

   &__copyright-author {
      @include font(18px, 21px, 400);
      color: $text-color;   
      
      @media screen and (max-width: $tablet) {
      @include font(14px, 16px, 400);
   }
   }
}

.copyright__container {
   max-width: 370px;
   text-align: center;
   padding: 0 10px;
}
